/* .categories-container{
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 20px;
} */


